.cdc {
  background-color: $primary-grey;

  display: flex;
  overflow: hidden;

  .container {
    max-height: 100vh;
    overflow-y: scroll;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .button-wrapper {
      margin: 2rem 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;

      @include sm {
        flex-direction: column;
      }
    }

    .title {
      margin: 3rem 0;
    }
  }
}

.timeline {
  margin-top: 3rem;
  background-color: $primary-color;
  width: fit-content;
  max-height: 100vh;
  border-radius: 15px;
  color: $text-secondary-color;

  .timeline-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.2rem;

    .label {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
    }
    .timeline-option {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 2rem 0 2rem;
      color: $text-secondary-color;
      cursor: pointer;

      &[isselected="true"] {
        background-color: $primary-color-highlight;
      }
      div {
        padding-left: 2rem;
      }
    }
  }
  @include sm {
    .timeline-list {
      height: 10rem;
      overflow-y: scroll;
      flex-direction: column;
      .timeline-option {
        padding: 1rem;
      }
    }
  }
}
