.dashboard {
  background-color: $primary-color;
  width: 35rem;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &[isopen="false"] {
    width: fit-content;

    .dashboard-header {
      div,
      svg {
        display: none;
      }
    }

    .dashboard-option {
      div {
        display: none;
      }
    }
  }

  .hamburger {
    padding: 0.5rem 1rem;
  }

  .dashboard-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
    margin-bottom: 2rem;

    .title {
      margin: 1rem;
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .subtitle {
      color: $text-primary-color;
      font-size: 1.2rem;
    }
  }

  .dashboard-list {
    width: 100%;

    .dashboard-option {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 1rem 20%;
      cursor: pointer;

      &[isselected="true"] {
        background-color: $primary-color-highlight;
      }

      svg {
        margin: 0 0.5rem;
      }

      div {
        padding-left: 2rem;
      }
    }
  }

  .special {
    .dashboard-option {
      padding: 1rem 10%;
      border-top: 1px solid #eee;
    }
  }
}
