.footer {
  background-color: $primary-color;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  div {
    margin: 1rem 0.5rem;
  }
}
