* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  background-color: $primary-grey;
}

::-webkit-scrollbar {
  background: $primary-color-highlight;
}

.button {
  background-color: $secondary-color;
  color: $primary-color;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  margin: 1rem 0.5rem;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  border: none;
  box-shadow: 4px 4px 10px rgba($color: $heading-color, $alpha: 0.1);
  transition: all 0.2s ease-in-out;

  &:hover,
  &:active {
    cursor: pointer;
    box-shadow: 4px 4px 20px rgba($color: $heading-color, $alpha: 0.1);
  }

  &:active {
    box-shadow: none;
  }
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
  margin: 2rem;
  color: $text-primary-color;

  @include sm {
    font-size: 2.5rem;
  }
}

.nav-button-wrapper {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;

  @include sm {
    padding: 1rem;

    .button {
      padding: 0.4rem 0.8rem;
      font-size: 1.1rem;
    }
  }
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem;
  text-align: center;
  color: $text-primary-color;

  @include smd {
    font-size: 2rem;
    margin: 0.5rem;
  }
}

body {
  .dropdown {
    border-radius: 10px;
    border-style: solid;
    border-color: $text-secondary-color;
    background-color: rgba($primary-color, 1);
    width: 95%;
    margin: 1rem;
    height: 3.5rem;
    padding: 0;
    font-size: 1.4rem;

    &:hover,
    &:active,
    &:focus {
      border-color: $heading-color;
      outline: none;
    }

    &-placeholder {
      margin: 0;
      padding: 0.2rem 1rem;
    }

    &-arrow {
      transform: translateY(7px);
    }

    &-control {
      background-color: transparent;
      outline: none;
      text-align: left;
      color: $text-secondary-color;
      font-size: 1.4rem;
      border: none;
    }

    &-menu {
      background-color: $primary-color;
      color: $text-secondary-color;
      border: none;
      outline: none;
    }

    .Dropdown-option {
      color: $text-secondary-color;

      &:hover {
        background-color: $primary-color-highlight;
      }
    }

    .Dropdown-option.is-selected {
      background-color: $primary-color-highlight;
    }
  }
}
