.landing-page {
  background-color: $primary-grey;
}

.hero {
  min-height: 100vh;
  max-height: 100vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  text-align: center;
  margin-bottom: 20rem;

  &-title {
    font-size: 8rem;
    font-weight: 700;

    @include sm {
      font-size: 5rem;
    }
  }

  &-subtitle {
    color: $text-primary-color;
  }

  &-btn {
    margin: 4rem 0;
  }

  img {
    width: 60vw;
    border-radius: 1rem;
    box-shadow: 4px 4px 10px rgba($color: #000000, $alpha: 0.1);
  }
}

.landing-events,
.event-calendar,
.login-portal {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  margin: 5rem 0;
}

.event-calendar {
  background-color: $primary-color;
  padding: 4rem;

  .calendar-wrapper {
    background-color: $text-primary-color;
    color: #eee;
    text-align: center;
    border-radius: 10px;
    padding: 0.5rem 1rem;

    .react-calendar__tile--active {
      background-color: #eee;
      color: $text-primary-color;
    }

    .react-calendar__navigation {
      display: flex;
      border-bottom: 2px solid #eee;

      button {
        flex-grow: 1;
        font-size: 1.5rem;
        padding: 0.8rem 0;
      }
    }

    button {
      background-color: $text-primary-color;
      box-shadow: none;
      margin: 0;
      padding: 0;
      border-radius: 10px;
      color: #eee;
    }

    abbr {
      display: block;
      text-decoration: none;
      margin: 1rem 0;
      padding: 0;
    }
  }
}
