//styling file for login page. For login-portal in loanding page styling check _landing.scss

.login-page {
  background-color: $primary-white;
}

.logbar {
  position: fixed;
  min-height: 10vh;
  min-width: 100%;
  background-color: $primary-color;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include smd {
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba($primary-color, 1);

    &[isOpen="false"] {
      min-height: 3.5rem;
      .logbar-links {
        display: none;
      }
    }
  }

  .pizza {
    display: none;
    position: fixed;
    top: 1rem;
    left: 1.5rem;
    transition: all 0.2s ease-in-out;

    &:active {
      transform: rotateY(90deg);
    }

    @include smd {
      display: block;
    }
  }

  &-links {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include smd {
      flex-direction: column;
      min-height: 60vh;
    }

    button {
      padding: 0.6rem 1rem;
      align-items: center;
      float: right;
    }

     
    
  }
}

.official-login-portal{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width:100vh;
  margin: 5rem 0;
  text-align: left;
}

.student-login-portal{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width:100vh;
  margin: 5rem 0;
  text-align: left;
}

.login-wrapper {
  width: 100%;
  margin: 4rem 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;

  .heading {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    justify-content: space-evenly;
    margin: 4rem 4rem;
    font-family: Overpass;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    color: $login-page-texts;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .invisible {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0rem 4rem;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    color: $login-page-texts;
  }

  .enter-box {
    display: inline-block;
    min-height: 60px;
    width: 700px;
    border-style: solid;
    border-color: $heading-color;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem 2rem;
    border-radius: 50px;
    margin: 1rem 3.5rem;
    color: $primary-color;
    font-size: 20px;

    .image-eye {
      text-align: right;
      margin: -2rem 0rem;
      margin-bottom: -0.25rem;
    }
  }

  button {
    background-color: $primary-color;
    color: #eee;
    border-style: solid;
    border-color: $heading-color;
    border-radius: 10px;
    width: 700px;
    min-height: 75px;
    border-radius: 50px;
    margin: 1rem 3.5rem;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
  }

  .remember-hoola-hoo {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem 2rem;
    text-align: center;
    margin: 0 18rem;
    font-size: 25px;
    text-align: left;
    width: 240px;
  }
}

.official-login-pic {
  margin-left: 2rem;
  margin-top: 8rem;
}

.student-login-pic {
  margin-left: -5rem;
  margin-top: 13rem;
}