.quicklink {
    background-color: $primary-color;
    min-height: 100vh;
    margin: 0px;

    .title {
        padding-top: 2rem;
        @include sm {
            padding-top: 5rem;
        }
    }
    .quick-card-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include sm {
            flex-direction: column;
        }
    }
    .quick-platform-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include sm {
            flex-direction: column;
        }
        .quick-platform-card {
            background-color: #729881;
            min-height: 18rem;
            display: inline-block;
            box-shadow: 4px 4px 25px rgba($color: #000000, $alpha: 0.4);
            margin: 2rem;
            vertical-align: top;
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            padding: 1.5rem 1.5rem 1.2rem 1.5rem;
            min-width: 18rem;
            position: relative;
            .icon {
                align-self: center;
            }
            .quick-platform-name {
                width: 80%;
                align-self: center;
                position: absolute;
                bottom: 2.5rem;
                
                button {
                    background-color: #000000;
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: #fff;
                    border-radius: 10px;
                    width: 100%;
                    padding: 1.1rem 0rem 1.1rem 0rem;
                    border-color: #000000;
                    border-style: solid;
                }
            }
        }
    }
}