.society-page {
  min-height: 100vh;
  background: linear-gradient(rgba(#eee, 0.8), rgba(#eee, 0.8)),
    url("../assets/background.jpg");
  background-size: cover;

  display: flex;
  overflow: hidden;

  .container {
    max-height: 100vh;
    overflow-y: scroll;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      @include md {
        padding-top: 5rem;
      }
      @include sm {
        padding-top: 6rem;
      }
    }
  }
}

.bill-reimbursement {
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5rem;
    text-transform: uppercase;
  }

  .button {
    width: 100%;
    margin: 0 auto;
    background-color: #ddd;
    border: 1px solid rgba(#333, 0.8);
    border-top: 0;
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: 500;

    &:hover {
      background-color: $primary-color;
    }
  }

  table {
    margin-top: 3rem;
    width: 90vw;
    border: 1px solid rgba(#333, 0.8);
    box-shadow: 4px 6px 12px rgba(#000, 0.2);

    thead {
      background-color: $primary-color;
    }

    th,
    td {
      padding: 0.8rem 1.2rem;
      font-size: 1.2rem;
      text-align: center;
      border: 1px solid rgba(#666, 0.5);

      @include sm {
        font-size: 1rem;
        word-wrap: break-word;
      }
    }

    td {
      input {
        width: 100%;
        height: 2rem;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 1.4rem;
      }

      input[type="file"] {
        display: none;
      }
    }

    tbody {
      tr {
        background-color: #ddd;
      }
    }
  }
}
