.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: $primary-grey;
  z-index: 150;
  animation: splashDissolve 2s ease-in 8s;
  animation-fill-mode: forwards;
}

@keyframes splashDissolve {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
  }
}
