.student-profile {
  background: linear-gradient(
      rgba($primary-grey, 0.85),
      rgba($primary-grey, 0.85)
    ),
    url("../assets/gymk.jpeg");
  background-size: cover;
  color: $text-secondary-color;
  display: flex;
  overflow: hidden;

  .container {
    max-height: 100vh;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .certificate-list-wrapper,
    .certificate-uploader,
    .grievance-form {
      width: 100%;
      padding: 2rem;
    }

    .certificate {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: $primary-white;
      min-height: 25rem;
      margin: 0 3rem;
      background: linear-gradient(30deg, $login-black 30%, $login-red);
      box-shadow: 4px 4px 20px rgba($color: $primary-color, $alpha: 0.2);
      border-radius: 10px;

      @include smd {
        margin: 1rem 0;
        min-height: 20rem;
      }

      div {
        text-align: center;
      }

      img {
        width: 23rem;
        padding: 1rem;
        border-radius: 20px;

        @include sm {
          width: 70vw;
        }
      }

      .event-name {
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: 600;
        color: $text-primary-color;

        @include sm {
          font-size: 1.2rem;
        }
      }

      .event-position {
        font-size: 1.3rem;
        padding: 0.5rem;
        color: $text-secondary-color;

        @include sm {
          font-size: 1rem;
        }
      }

      .download-cert {
        background-color: transparent;
        color: $heading-color;
        box-shadow: none;
        width: 100%;
        margin: 0;
        border-radius: 0;
        font-size: 1.4rem;
        font-weight: 600;
        cursor: pointer;

        @include sm {
          font-size: 1.2rem;
        }
      }
    }

    .grievance-form {
      input,
      textarea {
        background-color: transparent;
        border-radius: 10px;
        border-style: solid;
        border-width: 3px;
        border-color: $text-secondary-color;
        font-size: 1.4rem;
        color: $text-secondary-color;

        &:hover,
        &:active,
        &:focus {
          border-color: $heading-color;
          outline: none;
        }
      }

      .grievance-name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include sm {
          flex-direction: column;
        }

        .type-label {
          font-size: 1.5rem;
        }

        .dropdown {
          width: 25%;

          @include sm {
            width: 100%;
            font-size: 1rem;
          }

          @include md {
            width: 50%;
          }
        }
      }

      .grievance-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50rem;
        margin: 0 auto;

        @include sm {
          width: 100%;
        }

        .label {
          font-size: 1.6rem;
        }

        .grievance-box {
          padding: 0.6rem;
          width: 95%;
          margin: 2rem 0;
          background-color: $primary-color;
          font-family: "Karla", sans-serif;

          &::placeholder {
            font-family: "Karla", sans-serif;
          }

          @include sm {
            font-size: 1rem;
          }
        }
      }
    }

    .certificate-uploader {
      text-align: center;
      border-radius: 10px;
      width: 50rem;
      padding: 2rem;
      margin: 2rem 1rem;

      @include md {
        width: 35rem;
      }

      @include sm {
        width: 90%;
      }
    }
  }
}
