.student-profile {
  background-color: #eee;
  display: flex;
  overflow: hidden;

  .container {
    max-height: 100vh;
    overflow-y: scroll;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      align-self: flex-end;
      margin: 1.5rem 2rem 0 0;

      @include sm {
        font-size: 1rem;
        padding: 0.6rem 0.8rem;
      }
    }

    .certificate-list-wrapper,
    .certificate-uploader,
    .grievance-form {
      width: 100%;
      padding: 2rem;
    }

    .certificate {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      min-height: 25rem;
      margin: 3rem;
      box-shadow: 4px 4px 10px rgba($color: #000000, $alpha: 0.1);

      @include smd {
        margin: 1rem 0;
        min-height: 20rem;
      }

      div {
        text-align: center;
      }

      img {
        width: 25rem;

        @include sm {
          width: 70vw;
        }
      }

      .event-name {
        font-size: 1.5rem;
        font-weight: 600;

        @include sm {
          font-size: 1.2rem;
        }
      }

      .event-position {
        font-size: 1.3rem;

        @include sm {
          font-size: 1rem;
        }
      }

      .download-cert {
        background-color: rgba($login-orange, 0.3);
        width: 100%;
        margin: 0;
        border-radius: 0;
        font-size: 1.4rem;
        font-weight: 600;
        cursor: pointer;

        @include sm {
          font-size: 1.2rem;
        }
      }
    }
    .grievance-form{
      input, textarea{
        background-color: $primary-grey;
        border-radius: 10px;
        border-style: solid;
        border-width: 3px;
        border-color: #F58840;
        font-size: 1.4rem;
      }
      .grievance-name {
        display: flex;
        flex-direction: row;
        justify-content:center;
        flex-wrap: wrap;
        
        .input-box {
          padding: 0.4em 0.4em 0.4em 0.4rem;
          width: 300px;
          height: 60px;
          margin: 70px;
          margin-bottom: 40px;
          @include md {
            margin: 10px;
            width: 40%;
          }
          @include sm{
            margin: 10px;
            width: 100%;
            font-size: 1rem;
          }
        }
      }
      .grievance-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .grievance-box {
          padding: 0.4em 0.4em 0.4em 0.4rem;
          max-width: 100%;
          margin-bottom: 40px;
          @include sm {
            font-size: 1rem;
          }
        }
        .add-button {
          border-radius: 10px;
          width: 150px;
          align-self: center;
          background-color: #F58840;
          font-weight: bold;
          margin: 0;
        }
      }
    }
  }
}
