$primary-grey: #0f111a;
$primary-white: #ffffff;
$primary-color: #171a27;
$primary-color-highlight: #171a27;
$secondary-color: #ffc100;

$heading-color: #e53e2b;
$text-primary-color: #ddd;
$text-secondary-color: #8c99aa;

$login-red: rgba($heading-color, 0.5);
$login-black: #171a27;
$login-orange: #e53e2b;

$login-page-texts: #444b59;
