$primary-grey: #eee;
$primary-white: #FFFFFF;
$primary-color: #7eca9c;
$primary-color-highlight: #63b182;
$secondary-color: #ffcc29;

$heading-color: #000;
$text-primary-color: #333;
$text-secondary-color: #666;

$login-orange: #F58840;
$login-pink: #700B97;
$login-blue: #09009B;

$login-page-texts: #444B59;